venv310# Byte-compiled / optimized / DLL files
__pycache__/
*.pyo
*.pyd


# Virtual environment
venv*/
.env/
.venv/


# System files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Log files
*.log

# Environment configuration
.env
